<h1 mat-dialog-title style="text-align: center;">Confirm</h1>
<div mat-dialog-content>
    <p style="font-size: 1rem; text-align: center; margin-bottom: .5rem;">
        {{ message }}
    </p>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-evenly center" style="padding: 2rem;">
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Confirm</button>
    <button mat-raised-button cdkFocusInitial [mat-dialog-close]="false">Cancel</button>
</div>