<mat-progress-bar [ngStyle]="{'opacity': !dynamicForm.isEnabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
<h1 fxLayoutAlign="center" mat-dialog-title style="margin-bottom: 0;">{{ data.seoRedirect ? 'Edit - ' + data.seoRedirect.name :'Add - SEO redirect'}}</h1>
<div mat-dialog-content [perfectScrollbar]>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h3>Instrucitons</h3>
        <ul>
            <li>
                <b>Permanent</b> - If toggled http status code 302 be used otherwise the default http status code 301.
            </li>
            <li>
                <b>Multi</b> - Specifies whether the source is a single url or a multi url.
            </li>
            <li>
                <b>Regex</b> - Specifies whether the source is a regular expression.
            </li>
            <li>
                <b>Source</b>
                <p>
                    en-US/Blog/Article/7010/<br>
                    E.g. Multi<br>
                    en-US/Blog/Article/7010/;en-US/Blog/Article/8010/<br>
                    E.g. Regex<br>
                    (en-US\/Blog\/Article\/)[0-9]* => will match every article<br>
                    en-US/Blog/Article/7006<br>
                    en-US/Blog/Article/10444606<br>
                    en-US/Blog/Article/10096<br>
                    etc...
                </p>
            </li>
            <li>
                <b> Result </b>
                <p>
                    https://www.cmtrading.com/en-US/ForexBlog/
                </p>
            </li>
        </ul>
        <app-dynamic-form #dynamicForm style="margin-top: 1rem;"></app-dynamic-form>
    </div>
</div>