<mat-progress-bar [ngStyle]="{'opacity': !dynamicForm.isEnabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
<h1 fxLayoutAlign="center" mat-dialog-title>{{ data ? 'Edit user' + data.userName :'Add user'}}</h1>
<div mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
    <app-dynamic-form #dynamicForm></app-dynamic-form>
</div>