<div fxLayout="column" fxLayoutAlign="center">
    <mat-progress-bar [ngStyle]="{'opacity': paginator.disabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
    <mat-table matSort #userTable [dataSource]="dataSource" matSortStart="desc">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <!-- username Column -->
        <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- firstname Column -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
        </ng-container>

        <!-- lastname Column -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
        </ng-container>

        <!-- dateCreated Column -->
        <ng-container matColumnDef="dateCreated">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date created </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateCreated | dateFormatSigma}} </mat-cell>
        </ng-container>

        <!-- crud Column -->
        <ng-container matColumnDef="crud">
            <mat-header-cell *matHeaderCellDef fxLayout="row" fxFlex="14rem" fxLayoutAlign="end center">
                <button mat-mini-fab color="primary" (click)="createUser()" matTooltip="Add">
                    <mat-icon style="margin-right: 0.25rem;display: block;">person_add</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayout="column" fxFlex="14rem" fxLayoutAlign="center end">
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button [disabled]="paginator.disabled" (click)="roles(element.userName)" mat-icon-button color="accent" matTooltip="Roles">
                        <mat-icon>group</mat-icon>
                    </button>
                    <button [disabled]="paginator.disabled" (click)="session(element.userName)" mat-icon-button color="accent" matTooltip="Sessions">
                        <mat-icon>computer</mat-icon>
                    </button>
                    <button [disabled]="paginator.disabled" (click)="permission(element.userName)" mat-icon-button color="accent" matTooltip="Permissions">
                        <mat-icon>gavel</mat-icon>
                    </button>
                    <button [disabled]="paginator.disabled" (click)="modify(element.userName)" mat-icon-button color="accent" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <!--  Disable delete button on admin account -->
                    <span [ngSwitch]="element.userName">
                        <span *ngSwitchCase="'admin@admin.com'">
                            <button [disabled]="true" mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                        <span *ngSwitchDefault>
                            <button [disabled]="paginator.disabled" (click)="delete(element.userName)" mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </span>
                </div>
            </mat-cell>
        </ng-container>

    </mat-table>
    <mat-paginator #paginator></mat-paginator>
</div>