<div fxLayout="column" fxLayoutAlign="center">
    <mat-progress-bar [ngStyle]="{'opacity': paginator.disabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
    <mat-table [dataSource]="data">

        <!-- name column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- host column -->
        <ng-container matColumnDef="host">
            <mat-header-cell *matHeaderCellDef> Host </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.host}} </mat-cell>
        </ng-container>

        <!-- port column -->
        <ng-container matColumnDef="port">
            <mat-header-cell *matHeaderCellDef> Port </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.port}} </mat-cell>
        </ng-container>

        <!-- isSsl column -->
        <ng-container matColumnDef="isSsl">
            <mat-header-cell *matHeaderCellDef> Is-SSL </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-slide-toggle [color]="'primary'" [checked]="element.isSsl" [disabled]="true"></mat-slide-toggle>
            </mat-cell>
        </ng-container>

        <!-- date created column -->
        <ng-container matColumnDef="dataCreated">
            <mat-header-cell *matHeaderCellDef> Date created </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateCreated | dateFormatSigma}} </mat-cell>
        </ng-container>

        <!-- date modifed column -->
        <ng-container matColumnDef="dateModified">
            <mat-header-cell *matHeaderCellDef> Date modified </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateModified | dateFormatSigma}} </mat-cell>
        </ng-container>

        <!-- isEnabled column -->
        <ng-container matColumnDef="isEnabled">
            <mat-header-cell *matHeaderCellDef> Is-Enabled </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-slide-toggle [color]="'accent'" [checked]="element.isEnabled" [disabled]="true"></mat-slide-toggle>
            </mat-cell>
        </ng-container>

        <!-- crud Column -->
        <ng-container matColumnDef="crud">
            <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="end center">
                <button *auth="'SmtpClientsAdd'; disabled:paginator.disabled; isAdmin:true" mat-mini-fab color="primary" (click)="addOrUpdate()" matTooltip="Add">
                    <mat-icon style="display: block;">add_circle</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center end">
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button *auth="'SmtpClientsUpdate'; disabled:paginator.disabled;" (click)="addOrUpdate(element.id)" mat-icon-button color="accent" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *auth="'SmtpClientsDelete'; disabled:paginator.disabled;" (click)="delete(element.id)" mat-icon-button color="warn" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator></mat-paginator>

</div>