<mat-progress-bar [ngStyle]="{'opacity': !dynamicForm.isEnabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
<h1 fxLayoutAlign="center" mat-dialog-title>{{data.username}} permissions</h1>
<div mat-dialog-content style="width: 40rem;" fxLayout="column" fxLayoutAlign="center center">
    <app-dynamic-form #dynamicForm></app-dynamic-form>
    <mat-chip-list fxLayout="row" style="margin-top: 1rem;">
        <mat-chip fxLayout="row" fxLayoutAlign="center center" *ngFor="let permission of permissions" [selectable]="false" (removed)="removePermission(permission)">
            {{ permission }}
            <!-- ngif disables admin permission removal from admin user. -->
            <mat-icon *ngIf="data.username!='admin@admin.com' || permission!='Admin'" matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
    <div style="margin-top: 1.5rem;">
        <button mat-stroked-button (click)="cancel()" style="margin: 0 .5rem 0 .5rem;">Cancel</button>
        <button mat-flat-button color="primary" (click)="submit()" cdkFocusInitial style="margin: 0 .5rem 0 .5rem;">Submit</button>
    </div>
</div>