<mat-progress-bar [ngStyle]="{'opacity': paginator.disabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
<h1 fxLayoutAlign="center" mat-dialog-title> Sessions for {{ data.username}}</h1>
<div fxLayout="column" fxLayoutAlign="center">
    <div class="flex-p" fxLayout="column" fxLayoutAlign="center">
        <mat-table matSort #sessionTable [dataSource]="dataSource" matSortStart="desc">
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <!-- userAgent Column -->
            <ng-container matColumnDef="userAgent">
                <mat-header-cell *matHeaderCellDef mat-sort-header> User agent </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="scrollable-single-line">
                        {{element.userAgent}}
                    </div>
                </mat-cell>
            </ng-container>

            <!-- ipAddress Column -->
            <ng-container matColumnDef="ipAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header> IP address </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ipAddress}} </mat-cell>
            </ng-container>

            <!-- dateCreated Column -->
            <ng-container matColumnDef="dateCreated">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date created </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateCreated | dateFormatSigma}} </mat-cell>
            </ng-container>

            <!-- dateLastUsed Column -->
            <ng-container matColumnDef="dateLastUsed">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date lastUsed </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateLastUsed | dateFormatSigma}} </mat-cell>
            </ng-container>

            <!-- signature Column -->
            <ng-container matColumnDef="signature">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Signature </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="scrollable-single-line">
                        {{element.signature}}
                    </div>
                </mat-cell>
            </ng-container>

            <!-- crud Column -->
            <ng-container matColumnDef="crud">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center end">
                    <div class="scrollable-single-line">
                        <button [disabled]="paginator.disabled" (click)="remove(element.signature)" mat-icon-button color="accent">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>

        </mat-table>
        <mat-paginator #paginator></mat-paginator>
    </div>
</div>