mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 50%;
}

mat-header-cell:nth-child(6) {
    flex: 0 0 3rem;
}

mat-cell:nth-child(6) {
    flex: 0 0 4.3rem;
}

.mat-dialog-title {
    margin: -1rem 0 0.2rem;
}

@media only screen and (max-width: 1550px) {
    mat-cell:nth-child(1),
    mat-header-cell:nth-child(1) {
        flex: 0 0 20%;
    }
}
