<mat-progress-bar [ngStyle]="{'opacity': loading ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
<h1 fxLayoutAlign="center" mat-dialog-title>Users in Role</h1>

<div mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div *ngIf="userNames.length > 0">
            <mat-list>
                <mat-list-item *ngFor="let username of userNames">
                    <button mat-button color="primary">
                        <mat-icon style="margin-top: -.4rem;">person</mat-icon>
                        {{username.email}}
                    </button>
                    <button *auth="'RoleDelete'; action 'disabled';" mat-icon-button color="primary" (click)="remove(username.email)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </div>
        <div>
            <p *ngIf="userNames.length <= 0 && !loading">
                No users been assigned to this role.
            </p>
            <p *ngIf="loading" style="width: 15rem; text-align: center;">
                Loading...
            </p>
        </div>
    </div>
</div>