<mat-progress-bar [ngStyle]="{'opacity': !dynamicForm.isEnabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
<h1 fxLayoutAlign="center" mat-dialog-title> {{ data.event ? 'Edit' : 'Add'}} </h1>
<div mat-dialog-content [perfectScrollbar] #perfectScroll="ngxPerfectScrollbar">
    <div fxLayout="column" fxLayoutAlign="center center">
        <ng-container *ngFor="let error of errors">
            <div style="color: red;">
                {{ error }}
            </div>
        </ng-container>

        <app-dynamic-form #dynamicForm style="margin-top: 1rem;"></app-dynamic-form>
    </div>
</div>