<div fxLayout="column" fxLayoutAlign="center center">
    <mat-progress-bar [ngStyle]="{'opacity': paginator.disabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
    <h1 style="text-align: center;"> {{ data.eventName }} </h1>
    <mat-table style="width: 99%;" [dataSource]="tableData">

        <!-- fullName column -->
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef fxFlex="17rem"> Full name </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="17rem"> {{element.fullName}} </mat-cell>
        </ng-container>

        <!-- email column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef fxFlex="17rem"> email </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="17rem"> {{element.emailAddress}} </mat-cell>
        </ng-container>

        <!-- phone address column -->
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef fxFlex="8rem"> Phone number </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="8rem"> {{element.phoneNumber}} </mat-cell>
        </ng-container>

        <!-- number of seats column -->
        <ng-container matColumnDef="numberOfSeats">
            <mat-header-cell *matHeaderCellDef fxFlex="7rem"> Number of Seats </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="7rem"> {{element.numberOfSeats}} </mat-cell>
        </ng-container>

        <!-- affiliate column -->
        <ng-container matColumnDef="affiliate">
            <mat-header-cell *matHeaderCellDef fxFlex="5rem"> Affiliate </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="5rem"> {{element.a}} </mat-cell>
        </ng-container>

        <!-- subAffilaite column -->
        <ng-container matColumnDef="subAffilaite">
            <mat-header-cell *matHeaderCellDef fxFlex="5rem"> Sub affilaite </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="5rem"> {{element.subAffiliate}} </mat-cell>
        </ng-container>

        <!-- cxd column -->
        <ng-container matColumnDef="cxd">
            <mat-header-cell *matHeaderCellDef fxFlex="5rem"> CXD </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="5rem"> {{element.cxd}} </mat-cell>
        </ng-container>

        <!-- vvar10 column -->
        <ng-container matColumnDef="vvar10">
            <mat-header-cell *matHeaderCellDef fxFlex="5rem"> VVAR10 </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="5rem"> {{element.vvar10}} </mat-cell>
        </ng-container>

        <!-- language column -->
        <ng-container matColumnDef="language">
            <mat-header-cell *matHeaderCellDef fxFlex="5rem"> Language </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="5rem"> {{element.language}} </mat-cell>
        </ng-container>

        <!-- date created column -->
        <ng-container matColumnDef="dateCreated">
            <mat-header-cell *matHeaderCellDef fxFlex="9rem"> Date created </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="9rem"> {{element.dateCreated | dateFormatSigma}} </mat-cell>
        </ng-container>

        <!-- date modifed column -->
        <ng-container matColumnDef="dateModified">
            <mat-header-cell *matHeaderCellDef fxFlex="9rem"> Date modified </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="9rem"> {{element.dateModified | dateFormatSigma}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="eventRegistrationStatus">
            <mat-header-cell *matHeaderCellDef fxFlex="12rem"> Event registration status </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="12rem">
                <div [ngSwitch]="element.eventRegistrationStatus" fxFlex="12rem" fxLayout="row" fxLayoutAlign="center center">
                    <div *ngSwitchCase="0" fxFlex="12rem" fxLayout="row" fxLayoutAlign="space-between center">
                        <button *auth="'EventCmtRegistersUpdateStatus'; disabled:paginator.disabled;" mat-raised-button color="primary" (click)="updateStatus(element.id, 1)"> Approve </button>
                        <button *auth="'EventCmtRegistersUpdateStatus'; disabled:paginator.disabled;" mat-raised-button color="warn" (click)="updateStatus(element.id, 2)"> Reject</button>
                    </div>
                    <div *ngSwitchCase="1">
                        <button [disabled]="paginator.disabled" mat-flat-button color="primary" class="register-approved"> Approved </button>
                    </div>
                    <div *ngSwitchCase="2">
                        <button [disabled]="paginator.disabled" mat-flat-button color="warn" class="register-rejected"> Rejected </button>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <!-- actions column -->
        <ng-container matColumnDef="refresh">
            <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="space-between center" style="padding-left: 1.2rem;">
                <button [disabled]="paginator.disabled" mat-mini-fab color="primary" (click)="refresh()" matTooltip="Refresh">
                    <mat-icon>refresh</mat-icon>
                </button>
                <button *auth="'EventCmtRegistersExport'; disabled:paginator.disabled;" mat-mini-fab color="primary" (click)="export()" matTooltip="Download CSV">
                    <mat-icon>cloud_download</mat-icon>
                </button>
                <button *auth="'EventCmtRegistersAdd'; disabled:paginator.disabled;" mat-mini-fab color="primary" (click)="addOrUpdate()" matTooltip="Add">
                    <mat-icon style="display: block;">add_circle</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayout="row" fxLayoutAlign="center center">
                <button *auth="'EventCmtRegistersUpdate'; disabled:paginator.disabled;" (click)="addOrUpdate(element.id)" mat-icon-button color="accent" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *auth="'EventCmtRegistersDelete'; disabled:paginator.disabled;" (click)="delete(element.id)" mat-icon-button color="warn" matTooltip="Delete">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator></mat-paginator>
    <button mat-raised-button color="primary" matTooltip="Close" (click)="dialogRef.close()">Close</button>
</div>