.red {
    background-color: #f2dede !important;
}

.green {
    background-color: #dff0d8 !important;
}

mat-form-field.foo {
    padding-bottom: 0 !important;
    margin-bottom: -0.2rem !important;
}

.mat-form-field-suffix {
    top: 0.7em !important;
}

.filter-form-icon-close {
    // top: 0.5rem;
    left: 0.5rem;
}

.filter-form-ng-select {
    width: 100%;
    margin-right: 2rem;
}