<div fxLayout="column" fxLayoutAlign="center">
    <mat-progress-bar [ngStyle]="{'opacity': depositLogFilterForm.disabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
    <form [formGroup]="depositLogFilterForm">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="margin: 1rem 2rem 0 2rem;">
            <mat-form-field appearance="outline" style="width: 8%">
                <mat-label>ID</mat-label>
                <input matInput type="text" formControlName="id">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 9%">
                <mat-label>MT4-account</mat-label>
                <input matInput type="text" formControlName="mt4Account">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MT4-order</mat-label>
                <input matInput type="text" formControlName="mt4Order">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput type="text" formControlName="amount">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput type="text" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput type="text" formControlName="lastName">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 14%;">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 16%;">
                <mat-label>CRM Transaction ID </mat-label>
                <input matInput type="text" formControlName="crmTransactionId">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" style="margin: 1rem 2rem 0 2rem;">
            <ng-select [multiple]="true" placeholder="Currency" formControlName="curriences" appearance="outline" class="filter-form-ng-select">
                <ng-option *ngFor="let currency of curriences" [value]="currency.id">{{currency.name}}</ng-option>
            </ng-select>
            <ng-select [multiple]="true" placeholder="Payment provider" formControlName="paymentProviders" appearance="outline" class="filter-form-ng-select">
                <ng-option *ngFor="let paymentProvider of paymentProviders" [value]="paymentProvider.id">{{paymentProvider.name}}</ng-option>
            </ng-select>
            <ng-select [multiple]="true" placeholder="Credit card association" formControlName="creditcardAssociations" appearance="outline" class="filter-form-ng-select">
                <ng-option *ngFor="let creditCardAssociation of creditCardAssociations" [value]="creditCardAssociation.id">{{creditCardAssociation.name}}</ng-option>
            </ng-select>
            <ng-select [multiple]="true" placeholder="Country ISO" formControlName="countryISOs" appearance="outline" class="filter-form-ng-select" style="margin-right: 0;">
                <ng-option *ngFor="let countryIso of countryISOs" [value]="countryIso.id">{{countryIso.name}}</ng-option>
            </ng-select>
            <mat-form-field floatLabel="always" appearance="none" style="text-align: center;">
                <mat-label>Only successful</mat-label>
                <mat-slide-toggle formControlName="isSuccessfulOnly"></mat-slide-toggle>
                <textarea matInput hidden></textarea>
            </mat-form-field>
            <div>
                <button type="submit" mat-raised-button color="primary" [disabled]="depositLogFilterForm.disabled" (click)="depositLogfilter()"> Filter </button>
            </div>
            <div style="margin-left: 1rem;">
                <button mat-raised-button color="accent" [disabled]="depositLogFilterForm.disabled" (click)=clear()> Clear </button>
            </div>
        </div>
    </form>

    <div>
        <mat-progress-bar [ngStyle]="{'opacity': paginator.disabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
        <mat-table [dataSource]="data">
            <!-- id column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef fxFlex="7rem"> Id </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="7rem"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- login/trading.MT4  account column -->
            <ng-container matColumnDef="login">
                <mat-header-cell *matHeaderCellDef fxFlex="7rem"> MT4-account </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="7rem"> {{element.login}} </mat-cell>
            </ng-container>

            <!-- mt4 order column -->
            <ng-container matColumnDef="mt4OrderId">
                <mat-header-cell *matHeaderCellDef fxFlex="6rem"> MT4-order </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="6rem"> {{element.mt4OrderId == '0' ? '-----------------' : element.login}} </mat-cell>
            </ng-container>

            <!-- firstName column -->
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef fxFlex="6.7rem"> First tname </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="6.7rem"> {{element.cardHolderFirstName}} </mat-cell>
            </ng-container>

            <!-- lastName column -->
            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef fxFlex="6.7rem"> Last name </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="6.7rem"> {{element.cardHolderLastName}} </mat-cell>
            </ng-container>

            <!-- email column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef fxFlex="20rem"> Email </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="20rem"> {{element.email}} </mat-cell>
            </ng-container>

            <!-- dateCreated column -->
            <ng-container matColumnDef="dateCreated">
                <mat-header-cell *matHeaderCellDef fxFlex="10rem"> Date Created </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="10rem"> {{element.dateCreated | dateFormatSigma}} </mat-cell>
            </ng-container>

            <!-- amount column -->
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef fxFlex="5rem"> Amount </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="5rem"> {{element.amountDecimal}} </mat-cell>
            </ng-container>

            <!-- currency column -->
            <ng-container matColumnDef="currency">
                <mat-header-cell *matHeaderCellDef fxFlex="4rem"> Currency </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="4rem"> {{ element.currency }} </mat-cell>
            </ng-container>

            <!-- creditCardType column -->
            <ng-container matColumnDef="cardAssociation">
                <mat-header-cell *matHeaderCellDef fxFlex="8rem"> Card-association </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="8rem"> {{ element.cardAssociation == '0' ? '-----------------' : element.cardAssociation }} </mat-cell>
            </ng-container>

            <!-- last4Digits column -->
            <ng-container matColumnDef="last4digits">
                <mat-header-cell *matHeaderCellDef fxFlex="6rem"> 4 digits </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="6rem"> {{ element.lastFourDigits == '' ? '-------' : element.lastFourDigits }} </mat-cell>
            </ng-container>

            <!-- pspName column -->
            <ng-container matColumnDef="pspName">
                <mat-header-cell *matHeaderCellDef fxFlex="6rem"> PSP name </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="6rem"> {{ element.pspName }} </mat-cell>
            </ng-container>

            <!-- country column -->
            <ng-container matColumnDef="countryIso">
                <mat-header-cell *matHeaderCellDef fxFlex="4rem"> Country </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="4rem"> {{ element.countryIsoSelected }} </mat-cell>
            </ng-container>

            <!--  is DOD? column -->
            <ng-container matColumnDef="isDodChecked">
                <mat-header-cell *matHeaderCellDef fxFlex="4rem"> Is-DOD </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="4rem" style="padding-left: .8rem;">
                    <mat-checkbox [checked]="element.isDodChecked" [disabled]="dodAccess ? paginator.disabled : true " (change)=dodUpdate(element.id,$event)></mat-checkbox>
                </mat-cell>
            </ng-container>

            <!--  in CRM column -->
            <ng-container matColumnDef="inCrm">
                <mat-header-cell *matHeaderCellDef fxFlex="4rem"> In-CRM </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="4rem" style="padding-left: .8rem;">
                    <mat-checkbox [disabled]="true" [checked]="element.inCrm"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <!--  saved to MT4 column -->
            <ng-container matColumnDef="savedToTradingPlatform">
                <mat-header-cell *matHeaderCellDef fxFlex="4rem"> In-MT4 </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="4rem" style="padding-left: .8rem;">
                    <mat-checkbox [disabled]="true" [checked]="element.savedToTradingPlatform"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <!--  details column -->
            <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button [disabled]="paginator.disabled" mat-mini-fab color="primary" (click)="refresh()" matTooltip="Refresh">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <button [disabled]="paginator.disabled" mat-mini-fab color="primary" (click)="refreshInterval()" matTooltip="Set refresh inteval">
                        <mat-icon *ngIf="!autoRefreshIntervalSec">av_timer</mat-icon>
                        <span *ngIf="autoRefreshIntervalSec">{{ uiCounter }}</span>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayoutAlign="center center">
                    <button [disabled]="paginator.disabled" mat-raised-button color="primary" (click)="details(element.id)">
                        Details
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;" [ngClass]="row.savedToTradingPlatform ? 'green' : 'red'"></mat-row>
        </mat-table>
        <mat-paginator #paginator></mat-paginator>
    </div>
</div>