.login-container {
    background-color: rgba(0, 0, 0, 0.03);
}

.login-progress-bar {
    top: -1rem;
    left: -1rem;
    width: 109%;
}

.login-card-header {
    margin-top: 0.6rem;
}

.login-card-header-icon {
    margin-top: 0.2rem;
}
