<div fxLayout="row" fxLayoutAlign="center center" class="h-100 login-container">
    <mat-card fxFlex="50" fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="40" fxFlex.xs="90">
        <mat-progress-bar [ngStyle]="{'opacity': !dynamicForm.isEnabled ? '1' : '0' }" mode="indeterminate" class="login-progress-bar"></mat-progress-bar>
        <mat-card-header fxLayoutAlign="center" class="login-card-header">
            <mat-icon mat-card-avatar class="login-card-header-icon">exit_to_app</mat-icon>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-dynamic-form #dynamicForm></app-dynamic-form>
        </mat-card-content>
    </mat-card>
</div>