<div fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <dl>
                <dt>Login: </dt>
                <dd> {{ depositAttempt.login }} </dd>

                <dt>Date Created: </dt>
                <dd> {{ depositAttempt.dateCreated | dateFormatSigma}} </dd>

                <dt>Date Modified: </dt>
                <dd> {{ depositAttempt.dateModified | dateFormatSigma}} </dd>

                <dt>Saved to MT4:</dt>
                <dd> {{ depositAttempt.savedToTradingPlatform }} </dd>

                <dt>Is Test:</dt>
                <dd> {{ depositAttempt.isTestDeposit }} </dd>

                <dt>Amount:</dt>
                <dd> {{ depositAttempt.amountDecimal }} [{{ depositAttempt.currency }}] </dd>

                <dt>Conversion Rate:</dt>
                <dd> {{ depositAttempt.conversionRateDecimal }} </dd>

                <dt>Deposited Amount:</dt>
                <dd> {{ depositAttempt.depositedAmountDecimal }} [{{ depositAttempt.depositedCurrency }}] </dd>

                <dt>User Ip Address:</dt>
                <dd> {{ depositAttempt.userIpAddress }} </dd>

                <dt>MT4 order:</dt>
                <dd> {{ depositAttempt.mt4OrderId }} </dd>

                <dt>Crm Transaction:</dt>
                <dd> {{ depositAttempt.crmTransactionId }} </dd>
            </dl>
        </div>
        <div>
            <dl>
                <dt>CardAssociation: </dt>
                <dd> {{ depositAttempt.cardAssociation }} </dd>

                <dt>Last 4 digits: </dt>
                <dd> {{ depositAttempt.lastFourDigits == '' ? '------' : depositAttempt.lastFourDigits}} </dd>

                <dt>Card Holder FirstName: </dt>
                <dd> {{ depositAttempt.cardHolderFirstName}} </dd>

                <dt>Card Holder Last Name:</dt>
                <dd> {{ depositAttempt.cardHolderLastName }} </dd>

                <dt>Email:</dt>
                <dd> {{ depositAttempt.email }} </dd>

                <dt>Address:</dt>
                <dd> {{ depositAttempt.address }} </dd>

                <dt>Country ISO:</dt>
                <dd> {{ depositAttempt.countryIsoSelected }} </dd>

                <dt>City</dt>
                <dd> {{ depositAttempt.city }} </dd>

                <dt>ZIP code:</dt>
                <dd> {{ depositAttempt.zipCode ? '------' : depositAttempt.zipCode }} </dd>

                <dt>Phone number:</dt>
                <dd> {{ depositAttempt.phoneNumber }} </dd>

                <dt>Debug details:</dt>
                <dd> {{ depositAttempt.debugDetails }} </dd>
            </dl>
        </div>
    </div>
    <div>
        <mat-progress-bar [ngStyle]="{'opacity': loading ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
        <mat-table [dataSource]="data">
            <!-- id column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- dateCreated column -->
            <ng-container matColumnDef="dateCreated">
                <mat-header-cell *matHeaderCellDef> Date created </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateCreated | dateFormatSigma }} </mat-cell>
            </ng-container>

            <!-- pspName column -->
            <ng-container matColumnDef="pspName">
                <mat-header-cell *matHeaderCellDef> PSP name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.pspName }} </mat-cell>
            </ng-container>

            <!-- psp result column -->
            <ng-container matColumnDef="ppsResult">
                <mat-header-cell *matHeaderCellDef> PSP result </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ppsResult }} </mat-cell>
            </ng-container>


            <!-- message column -->
            <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.message }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </mat-table>
    </div>
</div>