<router-outlet></router-outlet>
<div fxLayout="column" fxLayoutAlign="center">
    <mat-progress-bar [ngStyle]="{'opacity': paginator.disabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
    <mat-table [dataSource]="data">

        <!-- name column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- urlName column -->
        <ng-container matColumnDef="urlName">
            <mat-header-cell *matHeaderCellDef> Url-name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.urlName}} </mat-cell>
        </ng-container>

        <!-- new column -->
        <ng-container matColumnDef="new">
            <mat-header-cell *matHeaderCellDef> New </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.registersNew}} </mat-cell>
        </ng-container>

        <!-- approved column -->
        <ng-container matColumnDef="approved">
            <mat-header-cell *matHeaderCellDef> Approved </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.registerApproved}} </mat-cell>
        </ng-container>

        <!-- rejected column -->
        <ng-container matColumnDef="rejected">
            <mat-header-cell *matHeaderCellDef> Rejected </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.registersRejected}} </mat-cell>
        </ng-container>

        <!-- total column -->
        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.registersNew + element.registerApproved + element.registersRejected }} </mat-cell>
        </ng-container>

        <!-- SMTP Server Name column -->
        <ng-container matColumnDef="smtpServerName">
            <mat-header-cell *matHeaderCellDef> SMTP server name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.smtpServerName}} </mat-cell>
        </ng-container>

        <!-- date created column -->
        <ng-container matColumnDef="dataCreated">
            <mat-header-cell *matHeaderCellDef> Date created </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateCreated | dateFormatSigma}} </mat-cell>
        </ng-container>

        <!-- date modifed column -->
        <ng-container matColumnDef="dateModified">
            <mat-header-cell *matHeaderCellDef> Date modified </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateModified | dateFormatSigma}} </mat-cell>
        </ng-container>

        <!-- crud Column -->
        <ng-container matColumnDef="crud">
            <mat-header-cell *matHeaderCellDef fxLayout="row" fxFlex="9rem" fxLayoutAlign="end center">
                <button *auth="'EventCmtAdd'; disabled:paginator.disabled; isAdmin:true" mat-mini-fab color="primary" (click)="addOrUpdate()" matTooltip="Add">
                    <mat-icon style="display: block;">add_circle</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayout="column" fxFlex="9rem" fxLayoutAlign="center end">
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button *auth="'EventCmtRegistersView'; disabled:paginator.disabled;" (click)="eventRegisters(element.name);" mat-icon-button color="primary" matTooltip="Registers">
                        <mat-icon>people_alt</mat-icon>
                    </button>
                    <button *auth="'EventCmtUpdate'; disabled:paginator.disabled;" (click)="addOrUpdate(element.id)" mat-icon-button color="accent" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *auth="'EventCmtDelete'; disabled:paginator.disabled;" (click)="delete(element.id)" mat-icon-button color="warn" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator></mat-paginator>
</div>