<form #f="ngForm" (ngSubmit)="onSubmit($event)" [formGroup]="form" [style.width]="width">
    <ng-container *ngFor="let question of questions">
        <app-question [question]="question" [form]="form"></app-question>
    </ng-container>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-stroked-button type="button" (click)="onCancel(f)" *ngIf="canceBtnShowed" [disabled]="cancelBtnDisabed">{{cancelBtnText}}</button>
        <button mat-flat-button color="primary" type="submit" *ngIf="submitBtnShowed && submitBtnFrmValid" [disabled]="!form.valid || submitBtnDisabled">{{submitBtnText}}</button>
        <button mat-flat-button color="primary" type="submit" *ngIf="submitBtnShowed && !submitBtnFrmValid" [disabled]="submitBtnDisabled">{{submitBtnText}}</button>
    </div>
</form>
<div fxLayout="column" fxLayoutAlign="center center">
    <ng-container *ngFor="let error of errors;" ngProjectAs="mat-error">
        <mat-error>{{error}}</mat-error>
    </ng-container>
</div>