<div fxLayout="column" fxLayoutAlign="center">
    <mat-progress-bar [ngStyle]="{'opacity': paginator.disabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
    <mat-table matSort #rolesTable [dataSource]="dataSource" matSortStart="desc">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <!-- username Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- dateCreated Column -->
        <ng-container matColumnDef="dateCreated">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date created </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateCreated | dateFormatSigma}} </mat-cell>
        </ng-container>

        <!-- dateModified Column -->
        <ng-container matColumnDef="dateModified">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date modified </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateModified | dateFormatSigma}} </mat-cell>
        </ng-container>

        <!-- crud Column -->
        <ng-container matColumnDef="crud">
            <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="end center">
                <button mat-mini-fab color="primary" *auth="'RoleAdd'; action 'disabled'; disabled:paginator.disabled;" (click)="create()" matTooltip="Add">
                    <mat-icon style="margin-right: 0.25rem;display: block;">group_add</mat-icon>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center end">
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button *auth="'RoleView'; action 'disabled'; disabled:paginator.disabled;" (click)="roleUsers(element.name)" mat-icon-button color="accent" matTooltip="Users in role">
                        <mat-icon>account_tree</mat-icon>
                    </button>
                    <button *auth="'RoleUpdate'; action 'disabled'; disabled:paginator.disabled;" (click)="update(element.name)" mat-icon-button color="accent" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *auth="'RoleDelete'; action 'disabled'; disabled:paginator.disabled;" (click)="remove(element.name)" mat-icon-button color="warn" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>
    </mat-table>
    <mat-paginator #paginator></mat-paginator>
</div>