<ng-container [formGroup]="form" [ngSwitch]="question.controlType">
    <!-- textbox -->
    <mat-form-field *ngSwitchCase="'textbox'" appearance="outline" [fxFlex]="question.fxFlex" [fxLayout]="question.fxLayout" [fxLayoutAlign]="question.fxLayoutAlign">
        <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
        <input matInput type="text" [id]="question.key" [formControlName]="question.key" cdkFocusInitial [value]="question.intialValue">
        <mat-hint> {{question.hint}} </mat-hint>
        <ng-container *ngFor="let validation of question.validations;" ngProjectAs="mat-error">
            <mat-error *ngIf="form.get(question.key).hasError(validation.name)">{{validation.message}}</mat-error>
        </ng-container>
    </mat-form-field>
    <!-- password -->
    <mat-form-field *ngSwitchCase="'password'" appearance="outline" [fxFlex]="question.fxFlex" [fxLayout]="question.fxLayout" [fxLayoutAlign]="question.fxLayoutAlign">
        <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
        <input matInput [type]="question.hide ? 'password' : 'text'" [id]="question.key" [formControlName]="question.key" cdkFocusInitial>
        <button type="button" mat-icon-button (click)="question.hide = !question.hide" [disabled]="form.disabled" matSuffix>
            <mat-icon style="margin-top: .9rem;">{{question.hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <ng-container *ngFor="let validation of question.validations;" ngProjectAs="mat-error">
            <mat-error *ngIf="form.get(question.key).hasError(validation.name)">{{validation.message}}</mat-error>
        </ng-container>
    </mat-form-field>
    <!-- autoComplete -->
    <mat-form-field *ngSwitchCase="'autocomplete'" appearance="outline" [fxFlex]="question.fxFlex" [fxLayout]="question.fxLayout" [fxLayoutAlign]="question.fxLayoutAlign">
        <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
        <input type="text" matInput [id]="question.key" [formControlName]="question.key" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of question.optionsFiltered | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <!-- toggle -->
    <div *ngSwitchCase="'toggle'" style="margin-bottom: 1.5rem;" [fxFlex]="question.fxFlex" [fxLayout]="question.fxLayout" [fxLayoutAlign]="question.fxLayoutAlign">
        <mat-slide-toggle [id]="question.key" [formControlName]="question.key"> {{question.label}} </mat-slide-toggle>
    </div>
    <!-- textfield -->
    <mat-form-field *ngSwitchCase="'textfield'" appearance="outline" [fxFlex]="question.fxFlex" [fxLayout]="question.fxLayout" [fxLayoutAlign]="question.fxLayoutAlign">
        <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
        <textarea matInput type="text" [id]="question.key" [formControlName]="question.key" [rows]="question.rows" [cols]="question.cols"></textarea>
        <ng-container *ngFor="let validation of question.validations;" ngProjectAs="mat-error">
            <mat-error *ngIf="form.get(question.key).hasError(validation.name)">{{validation.message}}</mat-error>
        </ng-container>
    </mat-form-field>
    <!-- select -->
    <mat-form-field *ngSwitchCase="'select'" appearance="outline" [fxFlex]="question.fxFlex" [fxLayout]="question.fxLayout" [fxLayoutAlign]="question.fxLayoutAlign">
        <mat-label>{{question.label}}</mat-label>
        <mat-select [id]="question.key" [formControlName]="question.key" cdkFocusInitial>
            <mat-option *ngFor="let option of question.options | keyvalue" [value]="option.key">
                {{option.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- slider -->
    <div *ngSwitchCase="'slider'" style="margin-bottom: 1.5rem;" [fxFlex]="question.fxFlex" [fxLayout]="question.fxLayout" [fxLayoutAlign]="question.fxLayoutAlign">
        {{ question.label }}
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-slider [style.width]="question.width" (change)="sliderChanged($event)" [displayWith]="formatLabel" [id]="question.key" [formControlName]="question.key" [step]="question.step" [tickInterval]="question.tickInterval" [min]="question.min" [max]="question.max" (input)="question.value = $event.value" [value]="question.value"></mat-slider>
            <div style="padding: 0 .9rem .1rem 0">
                {{ question.value }}
            </div>
        </div>
    </div>
    <!-- cron -->
    <div *ngSwitchCase="'cron'">
        <div>
            <!-- {{ question.label }} -->
        </div>
        <div formGroupName="{{question.key}}" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field *ngFor="let cronQuestion of question.questions" appearance="outline" style="width: 5rem;">
                <mat-label [attr.for]="cronQuestion.key"> {{ cronQuestion.label }} </mat-label>
                <input matInput type="text" [id]="cronQuestion.key" [formControlName]="cronQuestion.key" style="text-align: center;">
                <ng-container *ngFor="let validation of cronQuestion.validations;" ngProjectAs="mat-error">
                    <mat-error *ngIf="form.get([question.key, cronQuestion.key]).hasError(validation.name)">{{validation.message}}</mat-error>
                </ng-container>
            </mat-form-field>
        </div>
    </div>
    <!-- chips -->
    <div *ngSwitchCase="'chips'">
        <mat-form-field appearance="outline" [fxFlex]="question.fxFlex" [fxLayout]="question.fxLayout" [fxLayoutAlign]="question.fxLayoutAlign" style="padding-top: 0;">
            <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
            <mat-chip-list #chipList class="mat-chip-list-stacked" [formControlName]="question.key">
                <mat-chip *ngFor="let chip of this.form.get(this.question.key).value" [selectable]="selectable" [removable]="true" (removed)="removeChip(chip)" style="height: auto; width: auto;">
                    {{chip}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur" [placeholder]="question.label" (matChipInputTokenEnd)="addChip($event)" class="sigma-chip-input">
            </mat-chip-list>
            <mat-hint>Hint: Press enter to add new chip</mat-hint>
            <ng-container *ngFor="let validation of question.validations;" ngProjectAs="mat-error">
                <mat-error *ngIf="form.get(question.key).hasError(validation.name)">{{validation.message}}</mat-error>
            </ng-container>
        </mat-form-field>
    </div>

</ng-container>