<div fxLayout="column" fxLayoutAlign="space-around center">
    <app-dynamic-form #dynamicForm></app-dynamic-form>
    <div fxLayout="column" fxLayoutAlign="center" [perfectScrollbar]="scrollConfig">
        <div *ngFor="let hero of data">
            {{ hero }}
        </div>
    </div>
</div>