<div fxLayout="column" fxLayoutAlign="center">
    <div class="flex-p" fxLayout="column" fxLayoutAlign="center">
        <mat-progress-bar [ngStyle]="{'opacity': paginator.disabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
        <mat-table #userTable [dataSource]="dataSource">
            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>

            <!-- id column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef fxFlex="6rem"> Id </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="6rem"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- name column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- websiteId column -->
            <ng-container matColumnDef="websiteId">
                <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container *ngFor="let website of websites ">
                        <span *ngIf="website.id == element.websiteId">{{ website.name  }}</span>
                    </ng-container>
                </mat-cell>
            </ng-container>

            <!-- source column -->
            <ng-container matColumnDef="source">
                <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.source}} </mat-cell>
            </ng-container>

            <!-- dateCreated column -->
            <ng-container matColumnDef="dateCreated">
                <mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateCreated | dateFormatSigma}} </mat-cell>
            </ng-container>

            <!-- dateModified column -->
            <ng-container matColumnDef="dateModified">
                <mat-header-cell *matHeaderCellDef> Date Modified </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateModified | dateFormatSigma}} </mat-cell>
            </ng-container>

            <!-- result column -->
            <ng-container matColumnDef="result">
                <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.result}} </mat-cell>
            </ng-container>

            <!-- isEnabled column -->
            <ng-container matColumnDef="isEnabled">
                <mat-header-cell *matHeaderCellDef fxFlex="6rem" fxLayout="row" fxLayoutAlign="center center"> Enabled </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="6rem" fxLayout="row" fxLayoutAlign="center center">
                    <mat-slide-toggle [color]="'accent'" [checked]="element.isEnabled" [disabled]="true"></mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <!-- isPermanent column -->
            <ng-container matColumnDef="isPermanent">
                <mat-header-cell *matHeaderCellDef fxFlex="6rem" fxLayout="row" fxLayoutAlign="center center"> Permanent </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="6rem" fxLayout="row" fxLayoutAlign="center center">
                    <mat-slide-toggle [color]="'primary'" [checked]="element.isPermanent" [disabled]="true"></mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <!-- isMulti column -->
            <ng-container matColumnDef="isMulti">
                <mat-header-cell *matHeaderCellDef fxFlex="6rem" fxLayout="row" fxLayoutAlign="center center"> Multi </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="6rem" fxLayout="row" fxLayoutAlign="center center">
                    <mat-slide-toggle [color]="'primary'" [checked]="element.isMulti" [disabled]="true"></mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <!-- isRegex column -->
            <ng-container matColumnDef="isRegex">
                <mat-header-cell *matHeaderCellDef fxFlex="6rem" fxLayout="row" fxLayoutAlign="center center"> Regex </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="6rem" fxLayout="row" fxLayoutAlign="center center">
                    <mat-slide-toggle [color]="'primary'" [checked]="element.isRegex" [disabled]="true"></mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <!-- crud Column -->
            <ng-container matColumnDef="crud">
                <mat-header-cell *matHeaderCellDef fxLayout="row" fxFlex="7rem" fxLayoutAlign="end center">
                    <button *auth="'SeoRedirectAdd'; disabled:paginator.disabled; isAdmin:true" mat-mini-fab color="primary" (click)="add()" matTooltip="Add">
                        <mat-icon style="display: block;">add_circle</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxFlex="7rem" fxLayoutAlign="center end">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button *auth="'SeoRedirectUpdate'; disabled:paginator.disabled;" (click)="modify(element.id)" mat-icon-button color="accent" matTooltip="Edit">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button *auth="'SeoRedirectDelete'; disabled:paginator.disabled;" (click)="remove(element.id)" mat-icon-button color="warn" matTooltip="Delete">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>

        </mat-table>
        <mat-paginator #paginator></mat-paginator>
    </div>
</div>