<mat-progress-bar [ngStyle]="{'opacity': !dynamicForm.isEnabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
<h1 fxLayoutAlign="center" mat-dialog-title>{{ data ? data.name :'Add role'}}</h1>

<div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center center">
        <app-dynamic-form #dynamicForm></app-dynamic-form>
    </div>
    <mat-chip-list fxLayout="row" fxLayoutAlign="center center" style="margin-top: 1rem;">
        <mat-chip [disabled]="!dynamicForm.isEnabled" fxLayout="row" fxLayoutAlign="center center" *ngFor="let permission of permissions" [selectable]="false" (removed)="removePermission(permission)">
            {{permission}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
    <div fxLayout="row" fxLayoutAlign="center center" style="margin: .9rem 0 .5rem 0">
        <button mat-stroked-button (click)="cancel()" style="margin: 0 .5rem 0 .5rem;">Cancel</button>
        <button [disabled]="!dynamicForm.isEnabled" mat-flat-button color="primary" (click)="submit()" cdkFocusInitial style="margin: 0 .5rem 0 .5rem;">Submit</button>
    </div>
</div>