<mat-tab-group mat-align-tabs="center">
    <mat-tab label="BI email report">

        <mat-progress-bar [ngStyle]="{'opacity': paginator.disabled ? '1' : '0' }" mode="indeterminate"></mat-progress-bar>
        <mat-table [dataSource]="data">

            <!-- name column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- SMTP client column -->
            <ng-container matColumnDef="smtpClient">
                <mat-header-cell *matHeaderCellDef> SMTP client </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.smtpClient.name}} </mat-cell>
            </ng-container>

            <!-- title column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>

            <!-- cron column -->
            <ng-container matColumnDef="cron">
                <mat-header-cell *matHeaderCellDef> Cron expression </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cron}} </mat-cell>
            </ng-container>

            <!-- date created column -->
            <ng-container matColumnDef="dataCreated">
                <mat-header-cell *matHeaderCellDef> Date created </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateCreated | dateFormatSigma}} </mat-cell>
            </ng-container>

            <!-- date modifed column -->
            <ng-container matColumnDef="dateModified">
                <mat-header-cell *matHeaderCellDef> Date modified </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateModified | dateFormatSigma}} </mat-cell>
            </ng-container>

            <!-- crud Column -->
            <ng-container matColumnDef="crud">
                <mat-header-cell *matHeaderCellDef fxLayout="row" fxLayoutAlign="end center">
                    <button *auth="'SchedulerBiReportJobAdd'; disabled:paginator.disabled; isAdmin:true" mat-mini-fab color="primary" (click)="addOrUpdate()" matTooltip="Add">
                        <mat-icon style="display: block;">add_circle</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center end">
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button *auth="'SchedulerBiReportJobExecute'; disabled:paginator.disabled;" (click)="executeBiReportEmailJob(element.id)" mat-icon-button color="primary" matTooltip="Execute">
                            <mat-icon>offline_bolt</mat-icon>
                        </button>
                        <button *auth="'SchedulerBiReportJobUpdate'; disabled:paginator.disabled;" (click)="addOrUpdate(element.id)" mat-icon-button color="accent" matTooltip="Edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *auth="'SchedulerBiReportJobDelete'; disabled:paginator.disabled;" (click)="delete(element.id)" mat-icon-button color="warn" matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator></mat-paginator>

    </mat-tab>
    <mat-tab label="Some other scheduler">
        Content 2
    </mat-tab>
    <mat-tab label="Some very odd scheduler">
        Content 3
    </mat-tab>
</mat-tab-group>