<mat-progress-bar [ngStyle]="{'opacity': dynamicForm.isEnabled ? '0' : '1' }" mode="indeterminate"></mat-progress-bar>
<h1 fxLayoutAlign="center" mat-dialog-title> {{ data.eventCmt ? 'Edit': 'Add'}} </h1>
<div mat-dialog-content [perfectScrollbar] #perfectScroll="ngxPerfectScrollbar">
    <ng-container *ngFor="let error of errors">
        <div style="color: red; text-align: center; margin-bottom: 1rem;">
            {{ error }}
        </div>
    </ng-container>

    <app-dynamic-form #dynamicForm></app-dynamic-form>
</div>